* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.alpha {
    min-height: 25px;
    min-width: 25px;
    max-height: 250px;
    max-width: 250px;

    margin: 25px;                                           /*auto*/
    padding: 10px;                                          /*auto*/

    display: inline-block;                                  /*block, inline, none*/
}

#A {
    height: 200px;                                          /*auto*/
    width: 200px;                                           /*auto*/

    background-color: #FF0000;                            /*transparent, currentColor*/
    opacity: 0.5;
    background-image: url(../images/github2.png);
    background-repeat: no-repeat;                           /*repeat-x, repeat-y*/
    background-position: left top;                          /*right top*/
    background-attachment: scroll;                          /*fixed*/
    background-size: 100px 100px;                           /*contain, cover, auto*/
    background-origin: padding-box;                         /*border-box, content-box*/
    background-clip: border-box;                            /*padding-box, content-box*/

    border-style: solid;                                    /*dashed, dotted, double, groove, ridge, inset, outset, none*/
    border-width: 5px;
    border-color: #00FF00;
    border-radius: 10px;
    
    outline-style: solid;                                   /*dashed, dotted, double, groove, ridge, inset, outset, none*/
    outline-width: 5px;
    outline-color: #0000FF;
    outline-offset: 5px;
}

#B {
    border-style: solid;

    color: #FF0000;
    text-align: left;                                       /*right, center, justify*/
    text-decoration: underline;                             /*overline, line-through, none*/
    text-transform: capitalize;                             /*uppercase, lowercase*/
    text-indent: 25px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 25px;

    font-style: normal;                                     /*italic, oblique*/
    font-weight: normal;                                    /*bold*/
    font-variant: normal;                                   /*small-caps*/
    font-size: 20px;

    text-shadow: 2px 2px 4px #0000FF;
    box-shadow: 4px 4px 8px #00FF00;
}
#B img {
    vertical-align: baseline;                               /*text-top, text-bottom, super, sub*/
}

#C a:link {
    color: #FF0000;
    cursor: auto;                                           /*crosshair, default, e-resize, help, move, n-resize, ne-resize, nw-resize,*/
}                                                           /*pointer, progress, s-resize, se-resize, sw-resize, text, w-resize, wait, not-allowed*/
#C a:visited {
    color: #00FF00;
}
#C a:hover {
    color: #0000FF;
}
#C a:active {
    color: #000000;
}
#C #Ca {
    list-style-type: disc;                                  /*circle, square, none*/
    list-style-position: outside;                           /*inside*/
}
#C #Cb {
    list-style-type: decimal;                               /*upper-alpha, lower-alpha, upper-roman, lower-roman*/
}
#C #Cc {
    list-style-image: url(../images/github3.png);
}