#E a:link {
    color: #FF0000;
    cursor: auto;                                           /*crosshair, default, e-resize, help, move, n-resize, ne-resize, nw-resize,*/
}                                                           /*pointer, progress, s-resize, se-resize, sw-resize, text, w-resize, wait, not-allowed*/
#E a:visited {
    color: #FF00FF;
}
#E a:hover {
    color: #00FFFF;
}
#E a:active {
    color: #FFFF00;
}
#Ea {
    list-style-type: disc;                                  /*circle, square, none*/
    list-style-position: outside;                           /*inside*/
}
#Eb {
    list-style-type: decimal;                               /*upper-alpha, lower-alpha, upper-roman, lower-roman*/
}
#Ec {
    list-style-image: url(../images/github3.png);
}

#F table {
    border-style: solid;
    border-collapse: separate;                              /*collapse*/
    border-spacing: 5px;
    caption-side: top;                                      /*bottom*/
    empty-cells: show;                                      /*hide*/
}
#F th, td {
    border-style: solid;
    vertical-align: middle;                                 /*top, bottom*/
}
#F tr:hover {
    background-color: #FF00FF;
}
#F tr:nth-child(even) {                                     /*odd*/
    background-color: #00FFFF;
}

#G {
    height: 200px;
    width: 250px;
    border-style: solid;
}
#G img {
    float: left;                                            /*right, none*/

    -webkit-box-reflect: right 10px;                        /*left, above, below*/
}
#G p {
    clear: left;                                            /*right, both, none*/
}

#H {
    height: 200px;
    width: 250px;
    border-style: solid;

    position: relative;                                     /*static, fixed, absolute, sticky*/
    left: 30px;
    top: 30px;

    border-image-source: url(../images/border.png);
    border-image-slice: 30;
    border-image-width: 10px;
    border-image-outset: 10px;
    border-image-repeat: round;                             /*repeat, stretch*/
}
#Ha {
    height: 100%;
    width: 50%;

    object-fit: cover;                                      /*fill, contain, scale-down, none*/
    object-position: 90% 100%;
}
#Hb, #Hc {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#Hb {
    z-index: 1;
}
#Hc {
    z-index: -1;
}