tickTime=2000
# milliseconds in one tick

initLimit=10
# timeout in ticks for follower to connect to leader

syncLimit=5
# timeout in ticks for follower to sync with leader

dataDir=/zookeeper-bin/data
# directory for storing logs and snapshots

clientPort=2181
# port for clients to connect

server.1=zoo1:2888:3888
server.2=zoo2:2889:3889
server.3=zoo3:2890:3890
# 1, 2, 3 = id of servers
# zoo1, zoo2, zoo3 = hostname of servers
# 2888, 2889, 2890 = port for peer to peer connection
# 3888, 3889, 3890 = port for leader election