tickTime=2000
# milliseconds in one tick

initLimit=10
# timeout in ticks for follower to connect to leader

syncLimit=5
# timeout in ticks for follower to sync with leader

dataDir=/zookeeper-bin/data
# directory for storing logs and snapshots

clientPort=2181
# client connection port

admin.enableServer=true
admin.serverPort=8080
# admin server port

server.1=zoo1:2888:3888
server.2=zoo2:2889:3889
server.3=zoo3:2890:3890
# 1, 2, 3 = server ids
# zoo1, zoo2, zoo3 = server hostnames
# 2888, 2889, 2890 = peer connection port
# 3888, 3889, 3890 = leader election port